</main>

<!--Footer -->
<footer>
    <span class="copyright">&copy;Creative Encounters</span>
    <a class="footer-link" href="/main/about">ABOUT</a>
    <a class="footer-link" href="/main/contact">CONTACT</a>
    <i class="fa-brands fa-instagram left footer-icon"></i>
    <i class="fa-brands fa-twitter left footer-icon"></i>
    <i class="fa-brands fa-facebook-f left footer-icon"></i>
</footer>
</body>
</html>