<!DOCTYPE html>
<html lang="en">

<head>
    <title>Creative Encounters | Events</title>
    <meta name= "description" content="Creative Encounters Events">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded&family=Work+Sans&display=swap" rel="stylesheet"> 
    <!-- FontAwesome Kit Code for Icons -->
    <script src="https://kit.fontawesome.com/fe7899cadb.js" crossorigin="anonymous"></script>
    <!-- External stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
<!-- Header Info -->
<header>
    <!-- User-specific navigation bar -->
    <div class="nav" id="user-nav">
        <a href = "/" class="logo"><img src="/images/ce-logo.png" alt="Creative Encounters Logo" width="150"></a>
        <a href = "/events/new">New Event</a>
        <a href = "#">Sign Up</a>    
        <a href = "#">Log In</a>
    </div>
<hr>
    <!-- General navigation bar -->
    <div class="nav" id="general-nav">
        <a href = "/events">Events</a>
    </div>
</header>
<main>
