<%- include('./partials/header.ejs')%>
    <div id="home-welcome">
        <h1>Welcome to Creative Encounters!</h1>
        <div id = "home-description">
            <p>Attend or create your own art-related events to connect with creative individuals in the Charlotte, NC area. All levels 
                of experience are welcome to attend a wide range of fun activities.</p>
            <p>Check out the Events section to browse available events.</p>
        </div>
    </div>
<%- include('./partials/footer.ejs')%>
