<%- include('../partials/header.ejs')%>
    <div id="about-welcome">
        <h1>About</h1>
        <div id = "about-description">
            <p>Creative Encounters allows individuals to find or create art-related events to connect with creative individuals in the Charlotte, NC area.</p>
        </div>
    </div>
<%- include('../partials/footer.ejs')%>
