<%- include('../partials/header.ejs')%>
    <div id="contact-welcome">
        <h1>Contact</h1>
        <div id = "contact-description">
            <p>Phone: 800-800-8080</p>
            <p>Email: creativeencounters@gmail.com</p>
        </div>
    </div>
<%- include('../partials/footer.ejs')%>
