<%- include('../partials/header.ejs')%>
    <div id="error-welcome">
        <h1>404 Error</h1>
        <div id = "error-description">
            <p><%= error%></p>
        </div>
    </div>
<%- include('../partials/footer.ejs')%>
